<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
    <link rel="stylesheet" href="/assets/css/dependencies/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/assets/css/dependencies/plyr.min.css" />
    <link rel="stylesheet" href="/assets/css/fonts.css" />
    <link rel="stylesheet" href="/assets/css/app.css" />
    <title><%= typeof pageTitle !== 'undefined' ? pageTitle : 'نابغه' %></title>
  </head>
  <body>
    <div class="flex flex-col min-h-screen bg-background">
      <%- include('partials/header') %>
      <%- body %>
      <%- include('partials/footer') %>
    </div>
    <script src="/assets/js/category-menu.js"></script>
    <script src="/assets/js/dependencies/alpinejs.min.js"></script>
    <script src="/assets/js/dependencies/swiper-bundle.min.js"></script>
    <script src="/assets/js/dependencies/plyr.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
